.sif-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
}
body.sif-loading {
    overflow: hidden;
}
body.sif-loading .sif-modal {
    display: block;
}
.smart-image-field-container {
    display: table-cell;
    width: 200px;
    height: 200px;
    vertical-align: middle;
    text-align: center;
    background-color: gray;
}
.smart-image-preview {
    display: inline-block;
    max-width: 200px;
    max-height: 200px;
}